h1{
    margin-top: 18%;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

p{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

button{
    font-weight: bold;
    padding: 20px 40px;
    text-align: center;
    font-size: 30px;
}

.div1{
    text-align: center;
    margin-top: 30px;
}

.div2{
    height: auto;
    width: auto;
}